<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
	<title>Strategy{% block headtitle %}{% endblock %}</title>
 	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<meta name="description" content="">
 	<meta name="keywords" content="">
 	<meta name="author" content="Javiera Guedes">
 	<meta charset="utf-8">
	<meta http-equiv="refresh" content=".5" > 

		
	<link type="text/css" rel="stylesheet" 
		  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link type="text/css" rel="stylesheet" 
		  href="{{ url_for('static', filename='css/my.css') }}" />
	<link type="text/css" rel="stylesheet" 
	  	  href="{{ url_for('static', filename='css/datepicker.css') }}" />
	<link rel="shortcut icon" 
	      href="{{ url_for('static', filename='ico/stock.ico') }}">		
	<link rel='stylesheet' type='text/css' 
		  href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' > 	
    <link rel='stylesheet' type='text/css'
	      href='http://fonts.googleapis.com/css?family=Graduate'>
	<link href='http://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css"
	      href="{{ url_for('static', filename='css/bootstrap-select.css') }}">	
	<link href='http://fonts.googleapis.com/css?family=Wallpoet' rel='stylesheet' type='text/css'>
    <link href="static/css/typeahead.css" rel="stylesheet">
	
	<link type="text/css" rel="stylesheet" href="static/css/rickshaw.css">
	<link type="text/css" rel="stylesheet" href="static/css/lines.css">
	<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
	

	 
	 
	<style>
		.column { display: inline-block }
		#legend { background: white }
		#legend .line { color: #333 }
	</style>
	
 {% endblock %}
</head>
	
 <body>
	 <div class="container-narrow">	
		<div class="masthead">
		
   	 	   <ul class="nav nav-pills pull-right">	
			   
				<div class="btn-group">
					<a class="btn btn-default btn-lg" href="{{ url_for('about') }}">About</a>
			 	</div>
				
				<div class="btn-group">
			    	<button type="button" class="btn btn-default btn-lg"> Slides </button>
			 	</div>
		   </ul>
		   	  <h1 class=" nav nav-pills muted pull-left" style="font-family:'Wallpoet', cursive; font-size: 82px;"><a href="{{ url_for('index') }}">$trategy</a></h1>
	
	

   	</div> <!-- masthead -->
  
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p> 

	{% block content %}
	{% endblock %}
	  	  
	{% block footer %}
 	<footer class="footer">
		<p>Strategy is powered by 
			<a href="http://flask.pocoo.org/docs/">Flask</a>,
			<a href="http://getbootstrap.com/">Bootstrap</a>,
			<a href="http://glyphicons.com/"> Glyphicons</a>, and 
			<a href="http://aws.amazon.com/">AWS</a>.
		</p>
		<p>&copy; Javiera Guedes</p>
	</footer>
    {% endblock %}
	
	</div> <!-- container narrow -->  
	
 <!-- javascript -->

	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/scrollfix.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.flex.js') }}"></script>
	 <script src="static/js/typeahead.js"></script>
	 <script>
	     $('.all_stocks .typeahead').typeahead({
	       name: 'stocklist',
	       prefetch: 'static/docs/stocks.json',
	       limit: 10
	     });
	 </script>


	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
	 <script src="static/js/rickshaw.js"></script>
	 <script src="static/js/d3.v3.js"></script>


	 
 	<script>
    	$(function(){
    	  	$('.datepicker').datepicker({
    	  		format: 'dd M yyyy',
    	  		autoclose: true
    	  		});
    	  });
    </script>
	
	<script>  
	    $(document).ready(function () {  
	        $('.dropdown-toggle').dropdown();  
	     });  
	</script> 
	   
	<script>  
	   $(function() {
	     $('.table').tablesorter({
	     	cssInfoBlock : "avoid-sort"
	     });
	   });
	</script> 	
	
	 <script>  
	 var $btn2 = $('#popover');
	 $btn2.data('state', 'hover');

	 var enterShow = function () {
	     if ($btn2.data('state') === 'hover') {
	         $btn2.popover('show');
	     }
	 };
	 var exitHide = function () {
	     if ($btn2.data('state') === 'hover') {
	         $btn2.popover('hide');
	     }
	 };

	 var clickToggle = function () {
	     if ($btn2.data('state') === 'hover') {
	         $btn2.data('state', 'pinned');
	     } else {
	         $btn2.data('state', 'hover')
	         $btn.popover('hover');
	     }
	 };

	 $btn2.popover({trigger: 'manual'})
	     .on('mouseenter', enterShow)
	     .on('mouseleave', exitHide)
	     .on('click', clickToggle);
	
	</script> 	
	
	<script type="text/javascript">
	    $(function () {
	        $("[rel='tooltip']").tooltip();
	    });
	</script>
	
	<script>
		
		$(document).ready(function() {
	   	 if (saveformErrors) {
	        	$("[id='save']").modal('show');
	    }
	});

	</script>
	
    <script type="text/javascript">
        $(window).on('load', function () {

	        $('.selectpicker').selectpicker({
	       style: 'btn btn-default btn-lg',
	       size: 10
	       });
        });
    </script>
	
	<!-- <script>
	$.ajaxSetup ({
	    // Disable caching of AJAX responses
	    cache: false
	});
	</script>
	 -->

	<script type="text/javascript">
	$(function() {
	    $(".flex").flex();
	});
	</script>
	


			
</body>
</html>
