{% extends "base.html" %}
{% block headtitle %} - Slides{% endblock %}
{% block title %} Strategy{% endblock %}

{% block content %}

<iframe src="http://www.slideshare.net/slideshow/embed_code/30740745" width="1050" height="800" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/JavieraGuedes/strategy-30740745" title="Strategy" target="_blank">Strategy</a> </strong> from <strong><a href="http://www.slideshare.net/JavieraGuedes" target="_blank">Javiera Guedes</a></strong> </div>

{% endblock %}